node_modules/
android/local.properties
android/app/build/
android/build/
android/.gradle/
android/captures/
android/local.properties
android/app/release/
ios/App/Pods/
ios/App/App/public/
ios/App/output/
ios/DerivedData/
.DS_Store
