<div class="col-md-4 col-lg-3 col-xl-2">
        <h6>MY MARKETS</h6>
        <ul class="list-group list-group-flush">
                <li class="list-group-item pl-0"><a class="text-grey-dark" href="#">Fashion and
                                clothes</a></li>
                <li class="list-group-item pl-0"><a class="text-grey-dark" href="#">Automobile and
                                motors</a></li>
                <li class="list-group-item pl-0"><a class="text-grey-dark" href="#">Gardening and
                                agriculture</a></li>
                <li class="list-group-item pl-0"><a class="text-grey-dark" href="#">Electronics and
                                tech</a></li>
                <li class="list-group-item pl-0"><a class="text-grey-dark" href="#">Packaginf and
                                printing</a></li>
                <li class="list-group-item pl-0"><a class="text-grey-dark" href="#">Home and kitchen</a>
                </li>
                <li class="list-group-item pl-0"><a class="text-grey-dark" href="#">Digital goods</a>
                </li>
                <li class="list-group-item pl-0 dropdown">
                        <a class="dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">More items</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Submenu name</a>
                                <a class="dropdown-item" href="#">Great submenu</a>
                                <a class="dropdown-item" href="#">Another menu</a>
                                <a class="dropdown-item" href="#">Some others</a>
                        </div>
                </li>
        </ul>
</div>