<!-- Grid column -->

 <!-- Espasu ba publisidade -->
              
                    <div class="card">
                        <div class="card-header text-danger text-center">
                            <h3>Timor News</h3>                
                        </div>
                        <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Sit tempora magni nostrum labore incidunt voluptas! 
                            Tempora iusto facilis accusantium dolorem.
                        </div>
                        <div class="card-header text-danger text-center">
                            <h3>Timor Employeement</h3>                
                        </div>
                        <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Sit tempora magni nostrum labore incidunt voluptas! 
                            Tempora iusto facilis accusantium dolorem.
                        </div>
                        <div class="card-header text-danger text-center">
                            <h3>Public Information</h3>                
                        </div>
                        <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Sit tempora magni nostrum labore incidunt voluptas! 
                            Tempora iusto facilis accusantium dolorem.
                        </div>
                        <div class="card-header text-danger text-center">
                            <h3>Education</h3>                
                        </div>
                        <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Sit tempora magni nostrum labore incidunt voluptas! 
                            Tempora iusto facilis accusantium dolorem.
                        </div>
                        <div class="card-header text-danger text-center">
                            <h3>Tourism</h3>                
                        </div>
                        <div class="card-body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Sit tempora magni nostrum labore incidunt voluptas! 
                            Tempora iusto facilis accusantium dolorem.
                        </div>
                    </div>
           

    <!-- <h6 class="indigo text-white text-center py-2 mb-4">List of TOIC Product</h6>

    <div class="media">
        <div class="media-body">
            <p class="text-grey-dark mb-2"><strong>Men clothing</strong></p>
            <a href="#!" type="button" class="btn btn-indigo p-2">Source now</a>
        </div>
        <img class="d-flex ml-3" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/10.jpg"
            alt="Generic placeholder image" width="100">
    </div>

    <hr>

    <div class="media">
        <div class="media-body">
            <p class="text-grey-dark mb-2"><strong>Men clothing</strong></p>
            <a href="#!" type="button" class="btn btn-indigo p-2">Source now</a>
        </div>
        <img class="d-flex ml-3" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/1.jpg"
            alt="Generic placeholder image" width="100">
    </div>

    <hr>

    <div class="media">
        <div class="media-body">
            <p class="text-grey-dark mb-2"><strong>Men clothing</strong></p>
            <a href="#!" type="button" class="btn btn-indigo p-2">Source now</a>
        </div>
        <img class="d-flex ml-3" src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg"
            alt="Generic placeholder image" width="100">
    </div> -->


<!-- Grid column -->